USE [master]
GO
/****** Object:  Database [eVybir]    Script Date: 27.01.2026 23:00:52 ******/
CREATE DATABASE [eVybir]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'eVybir', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\eVybir.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'eVybir_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\eVybir_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eVybir].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eVybir]
GO
/****** Object:  Table [dbo].[CampaignCandidates]    Script Date: 27.01.2026 23:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CampaignCandidates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CampaignId] [int] NOT NULL,
	[CandidateId] [int] NOT NULL,
	[GroupId] [int] NULL,
	[DisplayOrder] [int] NOT NULL,
 CONSTRAINT [PK_CampaignCandidates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_CampaignCandidates] UNIQUE NONCLUSTERED 
(
	[CampaignId] ASC,
	[CandidateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campaigns]    Script Date: 27.01.2026 23:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campaigns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[StartTime] [datetimeoffset](7) NOT NULL,
	[EndTime] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_Campaigns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Candidates]    Script Date: 27.01.2026 23:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Date] [date] NULL,
	[Description] [nvarchar](max) NULL,
	[EntryType] [int] NOT NULL,
 CONSTRAINT [PK_Candidates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 27.01.2026 23:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AccessLevel] [int] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 27.01.2026 23:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[CampaignId] [int] NOT NULL,
	[CreatedDate] [datetimeoffset](0) NOT NULL,
	[CommittedDate] [datetimeoffset](0) NULL,
	[IsOffline] [bit] NOT NULL,
 CONSTRAINT [PK_Tickets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Tickets] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[CampaignId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Votes]    Script Date: 27.01.2026 23:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Votes](
	[Id] [uniqueidentifier] NOT NULL,
	[CampaignId] [int] NOT NULL,
	[PreferenceIdx] [int] NOT NULL,
	[CampaignCandidateId] [int] NOT NULL,
 CONSTRAINT [PK_Votes_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_CampaignCandidates_Campaign_Display]    Script Date: 27.01.2026 23:00:53 ******/
CREATE NONCLUSTERED INDEX [IX_CampaignCandidates_Campaign_Display] ON [dbo].[CampaignCandidates]
(
	[CampaignId] ASC,
	[DisplayOrder] ASC
)
INCLUDE([Id],[CandidateId],[GroupId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CampaignCandidates_Grouped]    Script Date: 27.01.2026 23:00:53 ******/
CREATE NONCLUSTERED INDEX [IX_CampaignCandidates_Grouped] ON [dbo].[CampaignCandidates]
(
	[CampaignId] ASC
)
INCLUDE([CandidateId],[GroupId]) 
WHERE ([GroupId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CampaignCandidates_Id_Campaign]    Script Date: 27.01.2026 23:00:53 ******/
CREATE NONCLUSTERED INDEX [IX_CampaignCandidates_Id_Campaign] ON [dbo].[CampaignCandidates]
(
	[Id] ASC,
	[CampaignId] ASC
)
INCLUDE([CandidateId],[GroupId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Campaigns_StartTime]    Script Date: 27.01.2026 23:00:53 ******/
CREATE NONCLUSTERED INDEX [IX_Campaigns_StartTime] ON [dbo].[Campaigns]
(
	[StartTime] ASC
)
INCLUDE([Id],[Name],[EndTime]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Permissions_Active]    Script Date: 27.01.2026 23:00:53 ******/
CREATE NONCLUSTERED INDEX [IX_Permissions_Active] ON [dbo].[Permissions]
(
	[UserId] ASC
)
INCLUDE([AccessLevel]) 
WHERE ([Active]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Permissions_User_Active]    Script Date: 27.01.2026 23:00:53 ******/
CREATE NONCLUSTERED INDEX [IX_Permissions_User_Active] ON [dbo].[Permissions]
(
	[UserId] ASC,
	[Active] ASC
)
INCLUDE([AccessLevel]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_Campaign]    Script Date: 27.01.2026 23:00:53 ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_Campaign] ON [dbo].[Tickets]
(
	[CampaignId] ASC
)
INCLUDE([IsOffline],[CommittedDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_Uncommitted]    Script Date: 27.01.2026 23:00:53 ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_Uncommitted] ON [dbo].[Tickets]
(
	[Id] ASC
)
WHERE ([CommittedDate] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_User_Campaign]    Script Date: 27.01.2026 23:00:53 ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_User_Campaign] ON [dbo].[Tickets]
(
	[UserId] ASC,
	[CampaignId] ASC
)
INCLUDE([Id],[CreatedDate],[CommittedDate],[IsOffline]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Votes_Campaign_Candidate]    Script Date: 27.01.2026 23:00:53 ******/
CREATE NONCLUSTERED INDEX [IX_Votes_Campaign_Candidate] ON [dbo].[Votes]
(
	[CampaignId] ASC,
	[CampaignCandidateId] ASC
)
INCLUDE([PreferenceIdx]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CampaignCandidates]  WITH CHECK ADD  CONSTRAINT [FK_CampaignCandidates_Campaigns] FOREIGN KEY([CampaignId])
REFERENCES [dbo].[Campaigns] ([Id])
GO
ALTER TABLE [dbo].[CampaignCandidates] CHECK CONSTRAINT [FK_CampaignCandidates_Campaigns]
GO
ALTER TABLE [dbo].[CampaignCandidates]  WITH CHECK ADD  CONSTRAINT [FK_CampaignCandidates_Candidates] FOREIGN KEY([CandidateId])
REFERENCES [dbo].[Candidates] ([Id])
GO
ALTER TABLE [dbo].[CampaignCandidates] CHECK CONSTRAINT [FK_CampaignCandidates_Candidates]
GO
ALTER TABLE [dbo].[CampaignCandidates]  WITH CHECK ADD  CONSTRAINT [FK_CampaignCandidates_Candidates1] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Candidates] ([Id])
GO
ALTER TABLE [dbo].[CampaignCandidates] CHECK CONSTRAINT [FK_CampaignCandidates_Candidates1]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Campaigns] FOREIGN KEY([CampaignId])
REFERENCES [dbo].[Campaigns] ([Id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Campaigns]
GO
ALTER TABLE [dbo].[Votes]  WITH CHECK ADD  CONSTRAINT [FK_Votes_CampaignCandidates] FOREIGN KEY([CampaignCandidateId])
REFERENCES [dbo].[CampaignCandidates] ([Id])
GO
ALTER TABLE [dbo].[Votes] CHECK CONSTRAINT [FK_Votes_CampaignCandidates]
GO
ALTER TABLE [dbo].[Votes]  WITH CHECK ADD  CONSTRAINT [FK_Votes_Campaigns] FOREIGN KEY([CampaignId])
REFERENCES [dbo].[Campaigns] ([Id])
GO
ALTER TABLE [dbo].[Votes] CHECK CONSTRAINT [FK_Votes_Campaigns]
GO
USE [master]
GO
