html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.ws-pre{
    white-space:pre-line;
    font-size:small;
}

.campaignManagerGrid{
    display:grid;
    grid-template-columns: auto 1fr auto;
    gap:0.5em;
}

.campaignManagerGrid button{
    max-width:16vw;
    border-radius:9px;
}

.campaignManagerGrid input[type=radio] + label {
    margin: 0px 6px 0px 2px;
}

.leftColMax35vw {
    max-width: 35vw;
}

.node-primary {
    padding: 5px 0px 2px 2px;
}

.node-secondary {
    padding-left:20px;
    font-size:smaller;
}