html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@font-face {
    font-family: "Zipcode";
    src: url("/Zipcode.ttf");
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.ws-pre{
    white-space:pre-line;
    font-size:small;
}

.campaignManagerGrid{
    display:grid;
    grid-template-columns: auto 1fr auto;
    gap:0.5em;
}

.campaignManagerGrid button{
    max-width:16vw;
    border-radius:9px;
}

.campaignManagerGrid input[type=radio] + label {
    margin: 0px 6px 0px 2px;
}

.leftColMax35vw {
    max-width: 35vw;
}

.node-primary {
    padding: 5px 0px 2px 2px;
}

.node-secondary {
    padding-left:20px;
    font-size:smaller;
}

.serif{
    font-family:'Times New Roman', Times, serif;
}

.warningTable{
    border-collapse:collapse;
    font-weight:bold;
    margin-bottom:15px;
    width:100%;
}

.warningPrimaryBox {
    vertical-align:central;
    text-align:center;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-size: 24pt;
    min-width:1em;
}

.warningNoteBox {
    border: 1px solid black;
    text-align: center;
}

.bulletinGridPrimary {
    grid-template-columns: 2em 1fr 2cm;
    border: 1px solid black;
}

.bulletinGridWithMembers {
    grid-template-columns: 2em 1fr 2cm 2cm 1fr;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.b-hdr-ssmall{
    font-weight:bold;
    font-size:xx-small;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
}

.b-hdr-small {
    font-weight: bold;
    font-size: x-small;
    border-bottom: 1px solid black;
    padding: 0px 2px;
}

.b-row-nr {
    font-weight: bold;
    font-size: larger;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.b-row-div {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.b-row-div p:not(.numberBoxText) {
    margin:2px 5px;
    white-space:pre-line;
    line-height:normal;
}

.b-row-div h5 {
    margin: 3px;
}

.checkBlock {
    width: 2cm;
    min-height: 2cm;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallBox{
    width: 1cm;
    height: 1cm;
}

.checkBox {
    border: 1px solid black;
    cursor: pointer;
}

.numberBox {
    border: 1px dotted black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Zipcode;
    overflow: hidden;
    padding-top: 0.3em;
    padding-left: 0.15em;
}

.numberBoxCleanup {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.numberBoxText {
    font-size: 0.9cm;
    position: relative;
    top: -0.15em;
    line-height: 0.85em;
    margin: 0px;
}

.checkBox:hover {
    box-shadow: #00589c 0px 0px 10px 5px;
}

.candidatesList {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    padding:1px 0px 0px 1px;
}

.candidatesList div{
    border: 1px dashed darkslategrey;
    margin: 0px 1px 1px 0px;
}

.candidatesList div:not(.c-enabled){
    color: lightgray !important;
}

.candidatesList div.c-enabled {
    cursor: pointer;
    color: revert;
}

.candidatesList div.c-enabled:hover {
    background-color:darkgray !important;
}

.candidatesList div.c-selected {
    background-color: darkgray !important;
}

.specialSubmit {
    margin-top: 15px;
    width: 100%;
    font-weight: bold;
    font-size: larger;
}

.histogram {
    background: linear-gradient(90deg, transparent, darkseagreen, seagreen);
}

.histoLabel {
    margin: 0px;
    white-space: nowrap;
    text-shadow: 0 0 6px white;
}

.adminOnlyEdit {
    background: red;
    padding: 4px;
    display: inline-block;
}

option {
    min-inline-size: min-content; /*see moz bug 2007620, crbug 471235858*/
}