@page
@model IndexModel
@{
    Model.SetPageData(ViewData);
}

<div class="text-center">
    <h1 class="display-4">
        Вітаємо</>@if(Model.IsLoggedIn){<span>, @Model.LoginData?.Name!</span>}
    </h1>
</div>
<div class="d-flex justify-content-end">
    <form asp-page-handler="login">
        @if (Model.IsLoggedIn)
        {
            <label for="btnLogout">Ваша роль: @Model.LoginData?.Role</label>
            <input type="submit" value="Вийти" id="btnLogout" />
        }
        else
        {
            <label for="userId">Id користувача</label>
            <input type="text" name="userId" id="userId" />
            <input type="submit" value="Увійти" />
        }
    </form>
</div>
