@page
@model PrivacyModel
@{
    Model.SetPageData(ViewData);
}
<h1>@ViewData[nameof(LoginAwarePageBase.Title)]</h1>

<p>
    Ця політика стосується виборців.
    <ul>
        <li>Якщо ви кандидат, відносини конфіденційності щодо вас регулюються відповідними документами, які ви вже підписали.</li>
        <li>Якщо ви зареєстровані в системі, ваш ідентифікатор було збережено. В той же час, інші дані з Дії не зберігаються на наших серверах, а лише в файлах "кукі" (див нижче).</li>
    </ul>
</p>
<p>єВибір — це система і реєстр онлайн голосувань, і тому вона зберігатиме інформацію про видані вам бюлетені - як онлайн (в системі), так і оффлайн (в територіальних виборчих комісіях). Це відбуватиметься автоматично під час голосувань.</p>
<p>єВибір не зберігає кореляцію між виборцем і голосом (принцип таємного голосування), лише сам факт голосування, — і голос окремо.</p>
<p>єВибір ідентифікує користувача лише за цифровим кодом з Дії; інші дані стосовно вашої особи чи дій не зберігаються.</p>
<p>єВибір може зберігати і аналізувати анонімізовану статистику стосовно продуктивності системи, не прив'язану до конкретного користувача.</p>
<p>єВибір зберігає лише дані входу в систему, зашифровані в файлах "кукі", на вашому комп'ютері чи телефоні. Ці файли необхідні для функціонування системи, і видаляються якщо ви вийдете з системи.</p>

